<!DOCTYPE html>
<html>
<head>
  <title>Facebook Clone</title>


</head>
<body>
  <!-- nav -->
  <nav class="navbar navbar-default" style="height:100px;">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand"><h1></h1></a>
      </div>
    </div>
  </nav>
  <!-- ./nav -->

  <!-- main -->
  <main class="container">

<br/>
    <div class="row">
      <div class="col-md-7">
        <img src="./assets/Face.jpg" class="img-fluid" style="width: 400px; height: 224px;" alt="Responsive image" >
        <h1 class="text-left">Welcome to Facebook</h1>
        <h5>By Gazi Rizveykhar Zaman</h5>
        <!-- register form -->
       <!--  <form method="post" action="home.html">
          <div class="form-group">
            <input class="form-control" type="text" name="username" placeholder="Username">
          </div>

          <div class="form-group">
            <input class="form-control" type="text" name="location" placeholder="Location">
          </div>

          <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="Password">
          </div>

          <div class="form-group">
            <input class="btn btn-success" type="submit" name="register" value="Register">
          </div>
        </form>
        <!-- ./register form -->
      </div>

      <div class="col-md-5 bg-light">


        <div class="card" style="width:25rem; height: 25rem;">
          <div class="card-body">
            
            

            <!-- login form -->
         
            <br/>

            <form method="post" action="home.html">
              <div class="form-group">
                <input class="form-control" type="text" name="username" placeholder="Username">
              </div>
    
              <div class="form-group">
                <input class="form-control" type="password" name="password" placeholder="Password">
              </div>
               <br/>
               <div class="text-center">
                <input class="btn btn-primary" type="submit" name="login" value="login" routerLink="myh">
              </div>
           
              
              <div class="text-center">
                <a routerLink="fog" >Forgotten password?</a>
              </div>
              
            <hr/>
              <div class="text-center">
                <input class="btn btn-success" type="submit" name="create new account" value="Create New Account" routerLink="reg">
              </div>
             
            </form>
            
          </div>
        </div>
        

       
        <!-- ./login form -->
     
      </div>
      
    </div>
  </main> 

  <!-- ./main -->

  <!-- footer -->
  <footer class="container text-center">
    <ul class="nav nav-pills pull-right">
      
    </ul>
  </footer>

 
  <!-- ./footer -->
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/script.js"></script>
  


  

</body>



</html>
